@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand';
}

/* body {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    margin-bottom: 32px;
} */

.foreground-color {
    background-color: #4682B4;
}

.background-color {
    background-color: #87CEEB;
}

.color-square {
    display: block;
    border-radius: 5px;
    width: 50px;
    height: 25px;
}

.text-indent {
    text-indent: 2em;
}