@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand';
}

/* Colors */

*, .mt-color-text {
    color: #373A3C;
}

.text-muted, .mt-color-secondary-text {
    color: #777777;
}

a, .mt-color-link {
    color: #2F0042;
}

footer, header, .footer, .header, .mt-color-foreground {
    background-color: #4682B4;
}

body, .mt-color-background {
    background-color: #FFE9C7;
}

.mt-color-search {
    background-color: #28a745;
}

.jumbotron, .mt-color-element {
    background-color: #ffffff;
}

.mt-backoffice-color {
    background-color: red;
}

.color-square {
    display: block;
    border-radius: 5px;
    width: 50px;
    height: 25px;
    border: solid 1px black;
}

.color-is-background {
    background-color: currentColor;
}

.text-indent {
    text-indent: 2em;
}

/* Avatars */
.mt-avatar {
    background-size: cover;
    border-radius: calc(attr(height) / 2);
}